<form method="post" action="{{ path('app_restaurant_delete', {'idRestau': restaurant.idRestau}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ restaurant.idRestau) }}">
	<button class="col-2 btn btn-danger my-2">Delete</button>
</form>
