{% extends 'base.html.twig' %}

{% block title %}Restaurant
{% endblock %}

{% block body %}
	<div class="fils" style="padding-left: 300px;">
		<h1>Create Restaurant
		</h1>
		<div class="page-wrapper my-5">
			<div class="container-fluid" id="container-wrapper">
				<div class="card p-3">
					<div class="row">
						<a class="col-1 text-info" href="{{ path('app_restaurant_index') }}">back</a>
						<h5 class="col-8 text-gray-800 pl-3">
							Ajouter Restaurant
						</h5>


					</div>
				</div>
				<div class="row ">
					<div class="col-lg-12">
						<div class="card p-3">
							{{ include('restaurant/_form.html.twig') }}


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{# {% extends 'base.html.twig' %}

{% block title %}New Restaurant{% endblock %}

{% block body %}
    <h1>Create new Restaurant</h1>

    {{ include('restaurant/_form.html.twig') }}

    <a href="{{ path('app_restaurant_index') }}">back to list</a>
  
{% endblock %} #}
